html, body {
  height: 100%;
  width: 100%;
}

.contiene{
font-family: 'Dongle', sans-serif;
}
.cabecera{
  font-size:30px;
 
  
}
.url-links{
   display: block; 
  float: left;
   margin:0 auto;
  background:#9e9ec7;
  
  
}

